body {
  @include hide-scroll;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  overflow: -moz-scrollbars-none;
}

.opening {
  width: 100vw;
  height: 100vh;
  background: black;
  text-align: center;
  #player {
      // DEBUG
      // border: 1px dashed red;
      // transition: all 3s ease-out;
  }
}

h1 {
  color: white;
  font-size: 20vh;
  line-height: 18vh;
  @include center;
  top: 45%;
  cursor: pointer;
}

#controls {
  z-index: 999;

  position: fixed;
  bottom: calc(5vh - 5px);
  line-height: $line-height;
  left: calc(1vw + 25px + 10px);
  p {
    display: inline-block;
    color: white;
  }
  #play-toggle, #mute-toggle {
    width: 40px;
    height: 40px;
  }
  #play-toggle {
    background-image: url('img/play.svg');
    &.active {
      background-image: url('img/pause.svg');
    }
  }
  #mute-toggle {
    background-image: url('img/mute.svg');
    &.active {
      background-image: url('img/unmute.svg');
    }
  }
}

#next-video {
  display: none;
  color: white;
}

// #tooltip {
//   color: white;
//   position: fixed;
//   left: $progress-bar-width;
// }

.choice {
  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  color: white;

  background: transparent;

  display: none;

  z-index: 999999999;

  &.active {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    text-align: center;

    p {
      color: white;
      font-size: 10vh;
      line-height: 10vh;
      display: block;
      cursor: pointer;
      text-shadow: 0 2px #000000;
    }
  }
}

#player {
  transition: all .5s ease;
  &.blur {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
  }
}

#progress-bar {
  width: $progress-bar-width;
  display: block;
  position: absolute;
  top: 5vh;
  left: 1vw;
  height: 90vh;
  margin: 0;
  padding: 0;
}

#loading {
  position: absolute;
  transition: all .5s ease;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.5);
  display: none;
}

.ui-slider {
  color: red !important;
}

#thumb {
  position: absolute;
  pointer-events: none;
  left: 1vw;
  top: 5vh;
  left: 1vw;
  height: 90vh;
  overflow: hidden;
  width: $progress-bar-width;
  img {
    position: absolute;
    transition: all .3s ease;

  }
}


// Styling Cross-Browser Compatible Range Inputs with Sass
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.3.0
// MIT License

$track-color: #000 !default;
$thumb-color: #000 !default;

$thumb-radius: 0 !default;
$thumb-height: 0 !default;
$thumb-width: 0 !default;
$thumb-shadow-size: 0 !default;
$thumb-shadow-blur: 0 !default;
$thumb-shadow-color: transparent !default;
$thumb-border-width: 0 !default;
$thumb-border-color: #000 !default;

$track-width: 100% !default;
$track-height: 8px !default;
$track-shadow-size: 1px !default;
$track-shadow-blur: 1px !default;
$track-shadow-color: rgba(0, 0, 0, .2) !default;
$track-border-width: 1px !default;
$track-border-color: #000 !default;

$track-radius: 0 !default;
$contrast: 0 !default;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
}

@mixin track {
  cursor: pointer;
  height: $track-height;
  transition: all .2s ease;
  width: $track-width;
}

@mixin thumb {
  @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
  background: $thumb-color;
  border: $thumb-border-width solid $thumb-border-color;
  border-radius: $thumb-radius;
  cursor: pointer;
  height: $thumb-height;
  width: $thumb-width;
}

[type='range'] {
  -webkit-appearance: slider-vertical;
  // -webkit-appearance: none;
  margin: $thumb-height / 2 0;
  width: $track-width;

  &:focus {
    outline: 0;

    &::-webkit-slider-runnable-track {
      background: lighten($track-color, $contrast);
    }

    &::-ms-fill-lower {
      background: $track-color;
    }

    &::-ms-fill-upper {
      background: lighten($track-color, $contrast);
    }
  }

  &::-webkit-slider-runnable-track {
    @include track;
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
  }

  &::-webkit-slider-thumb {
    @include thumb;
    -webkit-appearance: none;
    display: none;
    margin-top: ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2);
  }

  &::-moz-range-track {
    @include track;
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
  }

  &::-moz-range-thumb {
    @include thumb;
  }

  &::-ms-track {
    @include track;
    background: transparent;
    border-color: transparent;
    border-width: ($thumb-height / 2) 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: darken($track-color, $contrast);
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius * 2;
  }

  &::-ms-fill-upper {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius * 2;
  }

  &::-ms-thumb {
    @include thumb;
    margin-top: 0;
  }
}
