body {
  @include hide-scroll;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  overflow: -moz-scrollbars-none;
}

#initial {
  background: black;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  position: fixed;

}

.opening {
  width: 100vw;
  height: 100vh;
  background: black;
  text-align: center;
  z-index: 99;
}

#controls {
  z-index: 999;
  position: fixed;
  bottom: 2vh;
  line-height: $line-height;
  left: calc(1vw + 20px + 10px);
  @include screen-size('small') {
    left: calc(2vw + 10px + 10px);
  }
  p {
    display: inline-block;
    color: white;
  }
  #play-toggle, #mute-toggle, #next-video, #fullscreen{
    width: 40px;
    height: 40px;
    @include screen-size('small') {
      width: 30px;
      height: 30px;
    }
  }
  #play-toggle {
    background-image: url('img/pause.svg');
    &.active {
      background-image: url('img/play.svg');
    }
  }
  #mute-toggle {
    background-image: url('img/mute.svg');
    &.active {
      background-image: url('img/unmute.svg');
    }
  }
  #fullscreen {
    background-image: url('img/fullscreen.svg');
    &.active {
      background-image: url('img/exit-fullscreen.svg');
    }
  }
  #next-video {
    display: none;
    background-image: url('img/next.svg');
  }
}

#title {
  position: fixed;
  bottom: 2vh;
  left: calc(1vw + 20px + 10px + 180px + 15px);
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  @include screen-size('small') {
    left: calc(1vw + 20px + 10px + 130px + 15px);
    height: 30px;
    line-height: 30px;
    font-size: 15px;
  }
  @include screen-size('short') {
    top: 2vh;
    left: calc(1vw + 20px + 5px);
    max-width: 90vw;
    line-height: 30px;
    font-size: 15px;
  }
  display: inline-block;
  color: white;
}

#youtube-blocker {
  position: fixed;
  width: 100px;
  height: 100vh;
  z-index: 0;
  bottom: 0;
  right: 0;
}

#controls-right {
  bottom: 2vh;
  position: absolute;
  right: calc(1vw + 10px);
  @include screen-size('small') {
    right: 2vw;
  }

  z-index: 99;
  #menu {
    width: 40px;
    height: 40px;
    @include screen-size('small') {
      width: 30px;
      height: 30px;
    }
    background-image: url('img/menu.svg');
  }
}

.choice {
  margin-top: 10vh;
  margin-left: 5vw;
  height: 80vh;
  width: 90vw;

  @include screen-size('small') {
    margin-top: 25vh;
    height: 50vh;
  }

  position: fixed;
  top: 0;
  left: 0;

  color: white;

  background: transparent;

  display: none;

  z-index: 999999999;

  &.active {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

    p {
      color: white;
      font-size: 10vh;
      line-height: 8vh;
      display: block;
      cursor: pointer;
      text-shadow: 0 2px #000000;

      @include screen-size('small') {
        font-size: 6vh;
        line-height: 6vh;
      }
    }
  }
}

#player {
  transition: all .5s ease;
  &.blur {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
  }
}

#progress-bar {
  width: $progress-bar-width;
  display: block;
  position: absolute;
  top: 3vh;
  left: 1vw;
  height: 94vh;
  margin: 0;
  padding: 0;
}

#progress {
  width: $progress-bar-width;
  position: absolute;
  pointer-events: none;
  left: 1vw;
  top: 3vh;
  left: 1vw;
  height: 94vh;
  overflow: hidden;
  @include screen-size('small') {
    left: 2vw;
    width: 10px;
  }
  img {
    position: absolute;
    transition: all .3s ease;
    &.loading {
      animation: loading 2s infinite;
    }
  }
}

@keyframes loading {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

#loading {
  position: absolute;
  // transition: all .5s ease;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.5);
  display: none;
}

.ui-slider {
  color: red !important;
}


// Styling Cross-Browser Compatible Range Inputs with Sass
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.3.0
// MIT License

$track-color: #000 !default;
$thumb-color: #000 !default;

$thumb-radius: 0 !default;
$thumb-height: 0 !default;
$thumb-width: 0 !default;
$thumb-shadow-size: 0 !default;
$thumb-shadow-blur: 0 !default;
$thumb-shadow-color: transparent !default;
$thumb-border-width: 0 !default;
$thumb-border-color: #000 !default;

$track-width: 100% !default;
$track-height: 8px !default;
$track-shadow-size: 1px !default;
$track-shadow-blur: 1px !default;
$track-shadow-color: rgba(0, 0, 0, .2) !default;
$track-border-width: 1px !default;
$track-border-color: #000 !default;

$track-radius: 0 !default;
$contrast: 0 !default;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
}

@mixin track {
  cursor: pointer;
  height: $track-height;
  transition: all .2s ease;
  width: $track-width;
}

@mixin thumb {
  @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
  background: $thumb-color;
  border: $thumb-border-width solid $thumb-border-color;
  border-radius: $thumb-radius;
  cursor: pointer;
  height: $thumb-height;
  width: $thumb-width;
}

[type='range'] {
  -webkit-appearance: slider-vertical;
  // -webkit-appearance: none;
  margin: $thumb-height / 2 0;
  width: $track-width;
  opacity: 0;

  &:focus {
    outline: 0;

    &::-webkit-slider-runnable-track {
      background: lighten($track-color, $contrast);
    }

    &::-ms-fill-lower {
      background: $track-color;
    }

    &::-ms-fill-upper {
      background: lighten($track-color, $contrast);
    }
  }

  &::-webkit-slider-runnable-track {
    @include track;
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
  }

  &::-webkit-slider-thumb {
    @include thumb;
    -webkit-appearance: none;
    display: none;
    margin-top: ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2);
  }

  &::-moz-range-track {
    @include track;
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
  }

  &::-moz-range-thumb {
    @include thumb;
  }

  &::-ms-track {
    @include track;
    background: transparent;
    border-color: transparent;
    border-width: ($thumb-height / 2) 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: darken($track-color, $contrast);
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius * 2;
  }

  &::-ms-fill-upper {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius * 2;
  }

  &::-ms-thumb {
    @include thumb;
    margin-top: 0;
  }
}
