* {
  &::selection {
    background: $main-color;
    color: $background-color;
  }
}

body {
  background: $background-color;
  color: $main-color;
  font-size: $font-size;
  line-height: $line-height;
  font-family: $drenthe-main;
  margin: 0;
  padding: 0;
}

a {
  color: $main-color;
  text-decoration: none;
  &:visited {
    color: $main-color;
  }
  &:hover {
    color: $main-color;
  }
  &:active {
    color: $main-color;
  }
}

p {
  font-family: $drenthe-main;
}

#play-toggle, #mute-toggle {
  font-family: $play-pause;
  cursor: pointer;
}

#skip-video, #next-video, #tooltip {
  font-family: $drenthe-sans;
  cursor: pointer;
}
