* {
  &::selection {
    background: transparent;
    color: transparent;
  }
}

body {
  background: $background-color;
  color: $main-color;
  font-size: $font-size;
  line-height: $line-height;
  font-family: $drenthe-main;
  margin: 0;
  padding: 0;
}

a {
  color: $main-color;
  text-decoration: none;
  &:visited {
    color: $main-color;
  }
  &:hover {
    color: $main-color;
  }
  &:active {
    color: $main-color;
  }
}

p {
  font-family: $drenthe-main;
}

#play-toggle, #mute-toggle, #next-video {
  font-family: $play-pause;
  cursor: pointer;
}

#menu, #title, #timestamp {
  font-family: $drenthe-sans;
  cursor: pointer;
}

#timestamp {
  width: 45px;
  margin-left: -10px;
  font-size: 14px;
  text-align: right;
  @include screen-size('small') {
    width: 35px;
    font-size: 10px;
    text-align: right;
  }
}

#current-time {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid white;
  line-height: 20px;
}

#duration {
  line-height: 21px;
}
